.svg-delete {
  width: 0.9em;
  height: 0.9em;
}
.cities-page {
  @include page-settings;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h1 {
    font-size: $size-lg-heading-small-vp;

    @media only screen and (min-width: $small-break) {
      font-size: $size-lg-heading-large-vp;
    }
  }
}


  .city-add {

    .city-add-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: $margin-before auto $margin-after*2.6;
      border: 1px solid $white;
      border-radius: 3px;
      padding: 1em 0.5em 1em;
      max-width: 26em;
      width: 92%;
      background-color: lighten($dk-grey, 3%);
      color: $white;
      text-align: center;


      .city-form-content {
        max-width: 30em;
        width: 100%;
        font-size: 1em;
      }
    }

    label {
      display: block;
      font-weight: 700;
      margin-bottom: 0.5em;
    }

    input {
      margin-bottom: 0;
      width: 100%;
      line-height: 2em;
      margin: 0 auto 0;
    }

    button {
      color: $dk-grey;
      text-align: center;
      margin-top: 1em;
      padding: 0.5em;
      font-weight: 700;
    }
  }

  .no-cities {
    margin: 0 auto;
    max-width: 22em;
    h2 {
      font-size: 1.4em;
    }
  }

  .cities-list {

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      list-style: none;
      padding: 0;
      max-width: 26em;

      li {
        text-align: left;
        width: 100%;
      }

      .city-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
      }

      .city-list-title {
        display: inline-block;
        text-decoration: underline;
        padding: 0.2em;
        font-size: 1.2em;
        max-width: 8em;

        @media only screen and (min-width: $small-break) {
          font-size: 1.8em;
          max-width: 9em;
        }
      }

      .city-list-brew-count {
        display: inline-block;
        padding: 0.2em;
      }

      .city-list-delete-form {
        display: inline-block;

        button {
          padding: 0.5em;
        }
      }
    }

    .delete-city-warning {
      max-width: 26em;
      background: $dk-white;
      border-radius: 3px;
      padding: 0.8em;
      color: $dk-grey;
      text-align: center;

      h3 {
        font-size: 1.625em;
        font-weight: 700;
        color: $dk-brick;
      }
      button {
        font-size: 0.8rem;
        padding-top: 0.6em;
        padding-bottom: 0.6em;
      }
      .delete-city-btn {
        background: $lt-brick;
        box-shadow: none;
        text-shadow: none;
      }
    }
  }
