.error-message {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 0.5rem;

  span {
    display: block;
    margin: 0 auto;
    color: $dk-brick;
    font-size: 0.9rem;
  }
}

.app-error-msg {
  margin: 0 auto;
  background-color: $lt-brick;
  color: $dk-grey;
  max-width: 18em;
  padding: 1em;
  border-radius: 3px;
  font-weight: 700;
}
