
// General Landing

.landing-page {
  @include page-settings;
}


.landing-callout {
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: $medium-break) {
    position: relative;
    padding-bottom: 36em;
  }

  .callout-text {
    max-width: 22rem;
    margin-left: 1em;
    margin-bottom: 1em;

    @media only screen and (min-width: $tiny-break) {
      margin-left: 2.4em;
      max-width: 26em;
    }

    @media only screen and (min-width: $small-break) {
      margin-left: 3em;
    }

    @media only screen and (min-width: $medium-break) {
      margin-left: 5em;
      position: relative;
      z-index: 10;
    }

    .teal-text {
      color: $teal;
      font-size: 1.5em;
    }

    p:nth-child(1) {
      font-family: $heading-text;
      margin-top: 0.5em;
      margin-bottom: 0;
      font-size: 1.7em;
      font-weight: 700;

      @media only screen and (min-width: $tiny-break) {
        margin-top: 1em;
        font-size: 2em;
      }
    }
    p:nth-child(2) {
        font-size: 0.8em;
        margin-top: 0.5em;
        margin-bottom: 0;

        .teal-text {
          font-size: 2em;
        }

        @media only screen and (min-width: $tiny-break) {
          font-size: 0.9em;
        }
    }
  }

  .callout-img {
    max-width: 42em;
    margin: 0 auto;

    @media only screen and (min-width: $medium-break) {
      position: absolute;
      top: 1em;
      left: 18em;
      margin: 0 0 0 auto;
    }
  }
}


//Landing Call to Action

.landing-cta {

  margin-top: 4em;
  margin-bottom: 4em;

  h2 {
    text-align: center;
    font-size: 1.8em;

    @media only screen and (min-width: $small-break) {
      font-size: 2em;
    }


    a {
        text-transform: lowercase;
        text-decoration: none;
        padding: 0.5em;
        border: 4px solid;
        border-radius: 2px;
        box-shadow: 1px 1px 3px;
    }
  }
}


// Landing Features

.landing-features {

  margin-top: 1em;

  @media only screen and (min-width: $small-break) {
    padding-left: 1em;
  }


}


// Landing Footer

.landing-footer {
  color: $white;
}
