
.login-page {
  @include page-settings;

  h1 {
    text-align: center;
    margin-top: 0;
    .svg-logo {
      max-width: 8em;
    }
  }

  h3 {
    text-align: center;
    font-size: 1em;
  }

  .demo-btn {
    display: block;
    margin: 0 auto;
  }
}


.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: $margin-before auto $margin-after;
  max-width: 20em;
  border-radius: 3px;
  padding: 2em 1em;
  background-color: darken($white, 2%);
  color: $dk-grey;

  a {
    color: darken($brick, 15%);
    font-weight: 400;

    &:hover {
      color: $lt-brick;
    }
  }

  fieldset {
    border: none;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  legend {
    text-align: center;

    h2 {
      text-transform: uppercase;
      font-size: 1.5em;
    }
  }

  label {
    display: block;
    font-weight: 700;
  }

  input {
    margin-bottom: 1em;
    width: 95%;
    max-width: 16em;
    line-height: 2em;
    margin: 0 auto 1em;
  }

  .login-btn {
    display: block;
    margin: 0 auto 2em;
  }
}

.login-form-links {
  text-align: center;
  a {
    text-decoration: none;
    padding: 0.25em;
  }

}
