.success-message {
  margin: 0.5rem auto 0.8rem;
  text-align: center;
  font-size: 0.9rem;
  background-color: rgba(lighten($teal, 15%), 0.7);
  padding: 0.4rem;
  border-radius: 3px;
  font-weight: 700;
}
