@mixin page-settings {
  max-width: 60em;
  margin: 0 auto;
  padding: 1em;
  color: white;
}

$link-transition: color 0.4s ease-in;

body {
  box-sizing: border-box;
  font-family: $text;
  line-height: 1.5;
  background-color: $dk-grey;
  width: 100%;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 700;
	line-height: 1.2;
	font-family: $heading-text;
}

h1 {
	font-size: 5.06em;
	font-weight: 700;
	margin-top: 0.53em;
	margin-bottom: 0.53em;
	text-transform: uppercase;
	font-family: $heading-text;
}

h2 {
  font-size: $size-lg-heading-small-vp;
	font-weight: 700;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
	font-family: $heading-text;

  @media only screen and (min-width: $small-break) {
    font-size: $size-lg-heading-large-vp;
  }
}

h3 {
	font-size: 2.25em;
	font-weight: 700;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
	font-family: $heading-text;
}

h4 {
	font-size: 1.5em;
	font-weight: 700;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
	font-family: $heading-text;
}

h5 {
	font-size: 1.06em;
	font-weight: 700;
	margin-top: 0.94em;
	margin-bottom: 0.94em;
	font-family: $heading-text;
}

h6 {
	font-size: 1em;
	font-weight: 700;
	margin-top: 1em;
	margin-bottom: 1em;
	font-family: $heading-text;
}

p {
	margin-top: 1em;
	margin-bottom: 1.5em;
	font-family: 'Lato';
	font-weight: 400;
}

strong {
	font-weight: 700;
}

em {
	font-style: italic;
}

a {
	color: $lt-brick;
  transition: $link-transition;
}

a:hover {
	color: $brick;
  cursor: pointer;
}

ul,ol {
	margin-top: 1em;
	margin-bottom: 1.5em;
	padding-left: 1.1em;
}

li {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}


button {
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
    background: -moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: -webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: -o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: -ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color: #ffffff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #979797;
    display: inline-block;
    cursor: pointer;
    color: $dk-grey;
    font-weight: bold;
    padding: 0.4em 0.9em;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    margin-top: 0.625em;
    font-family: $text;
}

button:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
    background: -moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: -o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: -ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    background-color: #f6f6f6;
    border-color: $brick;
}


input {
  background: $white;
  border: 1px solid #979797;
  box-shadow: inset 0 1px 3px 0 rgba(0,0,0,.5);
  border-radius: 2px;
  padding-left: 0.4em;
  padding-right: 0.4em;
}

input:focus, input:hover {
    background: $white;
    border-color: $brick;
    box-shadow: 0 0 2px 0 rgba(73, 143, 225, 0.70);
}
