body {
  box-sizing: border-box;
  font-family: 'Lato';
  line-height: 1.5;
}


h1,h2,h3,h4,h5,h6 {
	font-weight: 700;
	line-height: 1.2;
	font-family: $heading-text;
}

h1 {
	font-size: 5.06em;
	font-weight: 700;
	margin-top: 0.53em;
	margin-bottom: 0.53em;
	text-transform: uppercase;
	font-family: $heading-text;
}

h2 {
  font-size: $size-lg-heading-small-vp;
	font-weight: 700;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
	font-family: $heading-text;

  @media only screen and (min-width: $small-break) {
    font-size: $size-lg-heading-large-vp;
  }
}

h3 {
	font-size: 2.25em;
	font-weight: 700;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
	font-family: $heading-text;
}

h4 {
	font-size: 1.5em;
	font-weight: 700;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
	font-family: $heading-text;
}

h5 {
	font-size: 1.06em;
	font-weight: 700;
	margin-top: 0.94em;
	margin-bottom: 0.94em;
	font-family: $heading-text;
}

h6 {
	font-size: 1em;
	font-weight: 700;
	margin-top: 1em;
	margin-bottom: 1em;
	font-family: $heading-text;
}

p {
	margin-top: 1em;
	margin-bottom: 1.5em;
	font-family: 'Lato';
	font-weight: 400;
}

strong {
	font-weight: 700;
}

em {
	font-style: italic;
}

a {
	color: $lt-brick;
  transition: color 0.4s ease-in;
}

a:hover {
	color: $brick;
}

ul,ol {
	margin-top: 1em;
	margin-bottom: 1.5em;
	padding-left: 1.1em;
}

li {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
